.map-marker{
    background-image: url(../static/Pin.svg);
    background-size: cover;
    position: relative;
    width: 20px;
    height: 30px;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
}